.sticky {
    overflow: hidden;
    background-color: rgb(41, 47, 56);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

/* .mg-left{
  margin-left: -120px;
} */

.mg-top{
  margin-top: 80px;
}