.sticky {
    overflow: hidden;
    background-color: rgb(41, 47, 56);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

.header-logo{
  height: 50px;
  width: 80px;
  padding-right: 15px;
  padding-left: 15px;
}

.title{
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos{
  height: 4rem;
  width: 4rem;
}

.grid-6-columns {
  grid-column-gap: 56px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.content{
  position: relative;
}

.content2{
  position: relative;
}

.content3{
  position: relative;
}

.content4{
  position: relative;
}

.content5{
  position: relative;
}


.content6{
  position: relative;
}


.content:hover:after {
  content:attr(data-legend);
  position:absolute;
  left:-10px;
  bottom:0;
  right:10px;
  text-align:center;
  transform:translateY(100%);
}

.content2:hover:after {
  content:attr(data-legend);
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  text-align:center;
  transform:translateY(100%);
}

.content3:hover:after {
  content:attr(data-legend);
  position:absolute;
  left:-13px;
  bottom:0;
  right:0;
  text-align:center;
  transform:translateY(100%);
}

.content4:hover:after {
  content:attr(data-legend);
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  text-align:center;
  transform:translateY(100%);
}

.content5:hover:after {
  content:attr(data-legend);
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  text-align:center;
  transform:translateY(100%);
}

.content6:hover:after {
  content:attr(data-legend);
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  text-align:center;
  transform:translateY(100%);
}

.abilities{
  margin-bottom: 0!important;
}

.slide-item-mg{
  height: auto!important;
}

.slider-wrapper{
  height: auto!important;
}

.slider-wrapper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: -10vw;
}

.w-slider-mask{
  height: auto!important;
}

.paragraph-large {
  font-size: 19px!important;
  height: 120px!important;
}

.card{
  height: auto;
  position: relative!important;
}

.card.skills {
  padding: 50px;
}

.display-5{
  margin-bottom: 10px!important;
}

.badges-top-wrapper {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto!important;
  grid-auto-columns: 1fr 1fr;
  display: grid;
}



.badge-primary.small {
  white-space: nowrap;
  text-align: center;
}
.divider{
  margin-top: 150px!important;
}

.mg-bottom-24px {
  margin-bottom: 40px!important;
}


@media (max-width: 768px) {
  .abilities {
    padding-top: 96px;
    padding-bottom: 230px!important;
}
  .main-section{
    padding-top: 5vh;
    height: auto;
  }
  .divider{
    margin: 50px 0 !important;
  }
  .logos{
    height: 40px;
    width: 40px;
  }

  .header-logo{
    height: 40px;
    width: 70px;
  }

  .header-nav-link{
    font-size: 17px;
  }

  .grid-6-columns {
    grid-column-gap: 66px;
    grid-row-gap: 26px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid
;
}
.abilities-section{
  height: 67vh!important;
  position: relative;
}
.paragraph-large{
  height: 180px!important;
}
}

.whatsapp{
  height: 25px;
  text-align: center;
  margin-right: 7px;
  margin-bottom: 5px;
}

.abilities-image{
  height: 75px;
}

@media screen and (max-width: 991px) {
  .btn-circle-secondary.slider-arrow.left---top-left {
      bottom: 0%;
      left: 0%;
      right: 80px;
  }
  .btn-circle-secondary.slider-arrow.right---top-left {
    bottom: 0%;
    left: 80px;
    right: 0%;
}
.badge-primary.small {
  padding: 14px 18px;
  font-size: 12px !important;
  line-height: 18px;
  text-align: center;
}
.grid-2-columns.footer-contact-links {
  grid-column-gap: 28px;
  grid-row-gap: 32px;
  grid-template-columns: auto;
}
.header-nav-menu-list, .header-nav-menu-list{
  display: block!important;
}

.badges-top-wrapper {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto!important;
  grid-auto-columns: 1fr;
  display: grid;
  position: absolute;
  top: 15px;
  left: 15px;
}

.mg-bottom-24px {
  margin-bottom: 24px!important;
}

.contact-image{
  display: grid;
  place-items: center;
}

.contact-image img{
  height: 250px!important;
  margin: 0!important;
}

.slider-wrapper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
}
}

@media screen and (max-width: 400px) {
  .badge-primary.small {
  padding: 7px 12px;
  font-size:  1.5em
}
}